.navbar {
    margin-bottom: 0px;
}

.navbar .nav .active {
    border-bottom: 5px solid #1976D2;
}

.navbar .nav .active a {
    background-color: white;
    color: #212121;
}

body {
    font-size: large;
}

.about {
    position: relative;
    display: block;
    background-color: cornflowerblue;
    padding-top: 20px;
}

.about_container {
    padding: 20px;
}

.about_text {
    font-size: 34px;
    padding-top: 20px;
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
}

.about_content {
    padding: 20px;
}

.about-text {
    padding: 20px;
    color: black;
}

.sig-picture {
    width: 100%;
    height: 300px;
}

.sig-item {
    width: 80%;
}

.sig-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(34, 34, 34, 0.55);
    ;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.sig-item:hover .sig-overlay {
    height: 100%;
}

footer {
    background-color: #EEEEEE;
    color: #212121;
}

footer a {
    color: #212121;
}

footer a .fa {
    font-size: xx-large;
}

@media screen and (min-width: 1024px) {
    .footer-contact-info {
        text-align: right;
    }
}

.dark-footer {
    background-color: #1976D2;
    color: white;
    padding: 8px;
}

.panel-heading {
    padding: 0px;
}

header {
    background-color: #1976D2;
    padding-top: 32px;
    padding-bottom: 32px;
}

header h1 {
    color: white;
}