body {
    font-size: medium;
    font-family: "Calibri";
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Calibri Light";
    color:black;
}
.navbar-default .navbar-brand {
    color: white;
    font-weight: bold;
}

.navbar-default .navbar-brand:hover {
    color: #2196F3;
}

.navbar-default .navbar-nav>li>a {
     color: white;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #2196F3;
}

.navbar {
    margin-bottom: 0px;
    background-color: black;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.navbar .nav .active a {
    height: 64px;
    border-bottom: 5px solid #2196F3;
    background-color: black;
    color: #2196F3;
    font-weight: bold;
}

.navbar .nav .active a:hover {
    height: 64px;
    border-bottom: 5px solid #2196F3;
    background-color: black;
    color: #2196F3;
    font-weight: bold;
}

.navbar-header .navbar-toggle {
    border-color: #2196F3;
    color: white;
    background-color: #2196F3;
}

.navbar-header .navbar-toggle .icon-bar{
    background-color: black;
}



.panel-default > .panel-heading {
    background-color: white;
}

.panel-default > .panel-footer {
    background-color: white;
}

.panel-heading.img-panel-header {
    padding: 0px;
}

.panel.hover-reveal {
    position: relative;
}

.panel.panel.hover-reveal .panel-body {
    position: absolute;
    top: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(25,118,210,0.8);
    display: none;
    overflow-y: auto;
}

footer {
    background-color: #B0BEC5;
    color: #141313;
}

footer a {
    color: black;
    text-decoration: underline;
}

footer a .fa {
    font-size: xx-large;
}

.dark-footer {
    background-color: black;
    color: white;
    padding: 8px;
}

header {
    background-color: #1976D2;
    padding-top: 32px;
    padding-bottom: 32px;
}

header h1 {
    color: white;
}

.con {
    padding-top: 20px;
}
